body{
    background-color: #0a0061;
}

#top-bar{
    background-color: red;
    text-align: center;
    padding: 10px;
}

#texte-entete{
    text-align: center;
}

.bouton{
    background-color: #001e8d;
    color: white;
}

.bouton:hover{
    background-color: #002bcb;
}